In [1]:
import pandas as pd
import math

In [2]:
df = pd.read_csv("contact_cars2.csv")
df.drop(columns="Unnamed: 0" ,inplace=True)
cols = ["Ad_ID","date", 'Body_Type', 'Condition', 'Engine_Capacity_CC',
       'Kilometers', 'Model', 'Transmission_Type', 'Year', 'brand', 'price']

df.columns = cols
df.columns

Index(['Ad_ID', 'date', 'Body_Type', 'Condition', 'Engine_Capacity_CC',
       'Kilometers', 'Model', 'Transmission_Type', 'Year', 'brand', 'price'],
      dtype='object')

In [3]:
df.head(1)

,Ad_ID,date,Body_Type,Condition,Engine_Capacity_CC,Kilometers,Model,Transmission_Type,Year,brand,price
0,6293b871645d177f18bc2ac6,"29 May, 2022 - 8:16 PM",Sedan,Used,2900 cc,"150,000 KM",523i,Automatic,2009,BMW,"350,000"

In [4]:
df = df[df["Transmission_Type"].notna()]
df.shape

(2400, 11)

In [5]:
df.dropna(how = "all", inplace = True)
df = df[~df["Transmission_Type"].str.contains(" cc") ]


df.shape

(2400, 11)

In [6]:
# df.loc[df["Color"] == "Factory Paint","Color"] = math.nan
# df.loc[df["Color"] == "In\xa0Warranty","Color"] = math.nan
df["date"].unique()

array(['29 May, 2022 - 8:16 PM', '29 May, 2022 - 7:45 PM',
       '28 May, 2022 - 8:10 PM', ..., '05 May, 2022 - 9:49 AM',
       '05 May, 2022 - 9:25 AM', '05 May, 2022 - 9:16 AM'], dtype=object)

In [7]:
df["date"] = pd.to_datetime(df["date"])
df.sample()

,Ad_ID,date,Body_Type,Condition,Engine_Capacity_CC,Kilometers,Model,Transmission_Type,Year,brand,price
917,628e787163218178a4eb19e3,2022-05-25 20:41:00,Sedan,Used,1000 cc,"10,000 KM",128 nova,Manual,1980,Fiat,"17,000"

In [8]:
qu = "SELECT * FROM `used-eg-cars-dataset.main_dataset.raw_contactCars_data_table`  "

old_df = pd.read_gbq(query=qu,project_id="used-eg-cars-dataset")

old_df.shape

(7948, 11)

In [9]:
df_final = pd.concat([old_df, df]).drop_duplicates(keep ="last", subset= ["Ad_ID"])

df_final.shape

(7948, 11)

In [10]:
df_final.to_gbq(destination_table="main_dataset.raw_contactCars_data_table" ,project_id="used-eg-cars-dataset", if_exists="replace")

1it [00:09,  9.08s/it]

In [11]:
df_final.to_csv("semi_cleaned_contactcars.csv")

In [12]:
df_final.shape

(7948, 11)